*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Josefin Sans', sans-serif;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0,6),rgba(0,0,0,0,6)),url(C:\Users\mypc\pfsd\fashion\store\templates);
    background-size: hover;
    background-position: center;

}
